.navbar .btn-outline-light:hover {
    color: #333;
}

.navbar .btn-outline-light {
    border: solid 1px #fff !important;
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    background: url(../images/new-background-trial.jpg) center center no-repeat;
    background-size: cover;
    background-color: #ACADBC;
    margin-bottom: -2px;
}

.change-nav {
    background-color: #3A8ECA;
}

#user-image {
    box-shadow: -3px 3px 5px #DAFFED;
    border-radius: 30px;
    width: 500px;
}

#testimonials {
    scroll-margin-top: 150px;
}

#information {
    scroll-margin-top: 180px;
}

.icons {
    border: none;
}


.carousel {
    margin-top: -2px;
}

#photo-heading {
    margin-top: -30px;
}

.map iframe {
    left: 0;
    top: 0;
    height: 400px;
    width: 100%;
    border: none;
}

a[href^=tel] {
    text-decoration:underline;
    color: #DAFFED;
    }


@media(max-width: 1000px) {
    .hero .image-container {
        display: flex;
        justify-content: center;
    }

    .hero .text-container {
        text-align: center;
    }

    .booking-button {
        margin-top: 10px;
    }

    .statement {
        text-align: center;
    }

    .contact-header {
        text-align: center;
        padding-top: 70px;
    }

    .p-header {
        text-align: center;
    }

    .main-image {
        margin-bottom: 20px !important;
    }
}