.navbar .btn-outline-light:hover {
    color: #333;
}

.navbar .btn-outline-light {
    border: solid 1px #fff !important;
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    background: url(../images/new-background.png) center center no-repeat;
    background-size: cover;
    background-color: #ACADBC;
    margin-bottom: -2px;
}

#user-image {
    box-shadow: -6px 5px 3px #6b6969;
    border-radius: 15px;
    width: 500px;
}

#about {
    scroll-margin-top: 70px;
}

#photos {
    scroll-margin-top: 150px;
}

.icons {
    border: none;
}

.carousel {
    background-color: #6665DD;
    margin-top: -2px;
}

#photo-heading {
    margin-top: -30px;
}


@media(max-width: 1000px) {
    .hero .image-container {
        display: flex;
        justify-content: center;
    }

    .hero .text-container {
        text-align: center;
    }

    .statement {
        text-align: center;
    }
}